
body {
    font-family: 'Kosugi Maru', serif;
    background-image: url('imgs/watercolor.png');
}

img {
    width: 200px;
    height: auto;
}

.container {
    text-align: center;
}

.quiz-title {
    color: #fff;
    background-color: palevioletred;
    margin: 50px 0px;
    padding: 10px 0px;
}

.flex-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.quiz-selection {
    background-color: #F6DCED;
    /* border: solid 3px #DE2F57; */
    border: solid 3px palevioletred;
    border-radius: 30%;
    padding: 30px;
    margin: 20px;
}

.quiz-selection li {
    margin: 20px 0px;
    text-align: left;
}

.answer-form {
    margin-top: 100px;
}

.answer-input {
    display: none;
    clip: rect(1px, 1px, 1px, 1px);
}

.answer-label {
    display: inline-block;
    background-color: #fff;
    /* border: solid 2px orchid; */
    border: solid 2px #599159;
    border-radius: 100%;
    font-size: 50px;
    padding: 50px;
    margin: 0px 30px;
    transition: all .2s;
}

.answer-input:checked + .answer-label {
    /* background: #F4BAF5; */
    background: #B4DEB4;
    color: #fff;
    text-shadow: 0 0 1px rgba(0,0,0,.7);
}

.answer-input:focus + .answer-label {
    outline-color: #4D90FE;
    outline-offset: -2px;
    outline-style: auto;
    outline-width: 5px;
}

.answer-submit {
    margin: 50px;
    padding: 20px 40px;
    color: #fff;
    background-color: palevioletred;
    border: none;
    border-radius: 10%;
    font-size: 40px;
}


